<!-- FORM TO CREATE A POST -->
<form [formGroup]="form" (ngSubmit)="submit()" class="post-form-container">
  <h2>
    Create a post.
  </h2>
  <div class="form-group">
    <label for="Title">Title:</label>
    <input formControlName="title" type="text" class="form-control" />
    <label for="Message">Message:</label>
    <input formControlName="body" type="text" class="form-control" />
  </div>
  <button class="btn btn-primary">Submit post.</button>
</form>

<!-- LIST OF POSTS. -->
<div>
  <ul class="list-group">
    <li
      *ngFor="let post of allPosts; index as i"
      class="list-group-item"
      [ngClass]="{
        active: selected.active && i == selected.value
      }"
      (click)="onClick(i)"
    >
      <h1 class="post-id">{{ i + 1 }}</h1>
      <div class="post-container">
        <div class="post-title">
          {{ post.title }}
        </div>
        <div class="post-body">{{ post.body }}</div>
      </div>
    </li>
  </ul>
</div>
